.c-pokemon-list * {
  color: #1e2939;
}

.c-pokemon-list__header {
  box-shadow: 0 34px 21px -18px rgba(62, 117, 149, 0.8);
  z-index: 99;
}

.c-pokemon-list__container::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #104e64;
  border-radius: 6px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0a3949;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #104e64;
  border-radius: 6px;
  padding: 2px;
}
